
html{
	font-family: 'Muli', sans-serif;

}

body{
	background-image: url("../photos/drop.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar-inverse{
	background-color: black;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
  margin: 4px;
  padding: 6px;
  margin-top: 5px;
}

.navbar-inverse .navbar-nav {
  margin-right: 0px;
}
.navbar-inverse .navbar-nav > li{
	font-size: 16px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 2px;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  /*text-decoration: underline;*/
  background-color: transparent;
  
  border-bottom: 2px solid #19AE55;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
  border-style: double;
  border-color: #19AE55;

}

.navbar-inverse .navbar-nav > .inactive > a{
  margin-top: 9px;
}


#landing{
	padding: 2%;
	background-color: black;
	color: white;
	height: 500px;
	width: 360px;
	margin-left: 10%;
	margin-top: 5%;
	opacity: .85;
	box-shadow: 0 0 30px 10px black;
}

#landing > h1{
	font-size: 100px;
}

#landing > h2{
	font-size: 32px;
	padding-top: 20%;
}

#logo > a{
	color: #4dff4d;
	font-size: 18px;
}
.button-landing{
	width: 100px;
	background-color: black; 
	color: white; 
	border-radius: 5px;
	border: 1px solid #F99628;
	font-size: 16px;
	margin-top: 20px
}

.button-landing:active{
	outline-color: #F99628;
}
.button-landing:focus{
	outline-color: #F99628;
}

.infoDiv{
	text-align: center;
	opacity: .85;
	padding: 15px;
	background-color: black;
	color: white;
}

.infoDiv#heading{
	height: 75px;
	width: 650px;
	margin: 0 auto;
	/*border: 2px solid #4dff4d;*/
}


.infoDiv#about{
	margin: 0 auto;
	width: 1000px;
	height: 625px;
	margin-top: 15px;
	text-align: left;
	box-shadow: 0 0 30px 10px black;
}

.infoDiv#about > h4{
	font-size: 19px;
	margin-top: 0px;
	line-height: 22px;
}

.infoDiv#about > h1{
	margin-bottom: 30px;
	text-align: center;
}
.infoDiv#aboutPics{
	width: 1000px;
	height: 225px;
	margin: 0 auto;
	margin-top: 10px;
}

.infoDiv#aboutPics > div > p > a{
	color: white;
	text-decoration: underline;
}

.infoDiv#awards{
	margin: 0 auto;
	width: 850px;
	height: 475px;
	margin-top: 15px;
	text-align: center;
	box-shadow: 0 0 30px 10px black;
}
.infoDiv#awards > h1{
	margin-bottom: 30px;
	text-align: center;
}

.infoDiv#awards > h3{
	margin-top: 0px;
}

.infoDiv#technology{
	width: 1000px;
	height: 925px;
	margin: 0 auto;
	margin-top: 15px;
}

.infoDiv#technology > h4{
	font-size: 19px;
	text-align: left;
	margin-top:0px;
	line-height: 22px;
}
.infoDiv#technology > h4 > ul> li{
	margin-top: 5px;
}


.infoDiv#team {
	width: 1200px; 
	margin: 0 auto; 
	margin-top: 15px; 
	opacity: 1;
	text-align: center;
	box-shadow: 0 0 30px 10px black;
}

.infoDiv#team > h1{
	margin-bottom: 30px;
}

.infoDiv#team > h4{
	margin: 0 auto;
	font-size: 19px;
	text-align: center;
	margin-top: 0px;
	width: 80%;
	margin-bottom: 20px;

}

#teamTable{
	width: 100%;
	text-align: left;
	margin-bottom: 0;
}

.awardBtn{
	margin-top: 0px;
	width: 75px;
}

#email{
	cursor: pointer;
	color: white;
	text-decoration: underline;
}

#footer{
	font-size: 10px;
	padding: 5px;
}

#noScrollFoot{
	position: absolute;
	left: 0px;
	bottom: 0px;
	font-size: 10px;
	padding: 5px;
}


